<footer>
    <div class="row visible-sm visible-md visible-lg">

        <div class="social-text
    col-xs-10 col-xs-offset-2
    col-sm-4 col-sm-offset-2">© Вьюга</div>

        <div class="col-sm-14 col-sm-offset-0" style="text-align: center;">
            <a href="mailto:hello@viuga.me" class="social-links">
                <span ng-include="'assets/images/mouth.svg'"></span>hello@viuga.me</a>&emsp;
                <span ng-include="'assets/images/ear.svg'" class="social-icons"></span>+7 926 726-96-28&emsp;
                <span ng-include="'assets/images/address.svg'" class="social-icons"></span>ул. Нижняя Сыромятническая, 10с2&emsp;
          </div>

        <div class="
    col-xs-10 col-xs-offset-0
    col-sm-2 col-sm-offset-0">
            <a ng-include="'assets/images/instagramm.svg'" href="https://www.instagram.com/viuga_bureau/"
                class="social-links"></a>
            <a ng-include="'assets/images/facebook.svg'" href="https://www.facebook.com/viugabureau/"
                class="social-links"></a>
        </div>
    </div>

    <!-- только на мобилах видно -->
    <div class="visible-xs">
        <div class="row footer-line">
            <div class="col-xs-10 col-xs-offset-2">© Вьюга</div>
        </div>

        <div class="row footer-line">
            <div class="col-xs-20 col-xs-offset-2">
                <a ng-include="'assets/images/instagramm.svg'" href="https://www.instagram.com/viuga_bureau/"
                    class="social-links"></a>
                <a ng-include="'assets/images/facebook.svg'" href="https://www.facebook.com/viugabureau/"
                    class="social-links"></a>

                <a href="mailto:hello@viuga.me" class="social-links">
                    <span ng-include="'assets/images/mouth.svg'" class="social-icons"></span>hello@viuga.me</a>
                    <span ng-include="'assets/images/address.svg'" class="social-icons"></span>ул. Нижняя Сыромятническая, 10с2&emsp;
            </div>
        </div>
        <div class="row footer-line">
            <div class="col-xs-20 col-xs-offset-2"><span ng-include="'assets/images/ear.svg'" class="social-icons"></span>+7 926 726-96-28</div>
        </div>
    </div>

</footer>
