<footer>


    <div class="visible-sm visible-md visible-lg">

        <div class="row">

            <div class="col-sm-16 col-sm-offset-2">

                <a href="mailto:hello@viuga.me" class="footer-link">
                    <span ng-include="'assets/images/mouth.svg'" class="footer-icon"></span>hello@viuga.me</a>&emsp;&emsp;

                <span ng-include="'assets/images/ear.svg'" class="footer-icon"></span>+7
                926 726-96-28&emsp;&emsp;
                <span ng-include="'assets/images/address.svg'" class="footer-icon"></span>ул.
                Нижняя Сыромятническая, 10с2&emsp;&emsp;

            </div>

            <div class="col-sm-4" style="text-align:right">

                <a href="https://www.instagram.com/viuga_bureau/" class="footer-link">
                    <span ng-include="'assets/images/instagramm.svg'" class="footer-icon thin"></span>
                </a>
                <a href="https://www.facebook.com/viugabureau/" class="footer-link">
                    <span ng-include="'assets/images/facebook.svg'" class="footer-icon thin"></span>
                </a>

                <span>© Вьюга</div>
            </div>

        </div>
    </div>

    <!-- только на мобилах видно -->
    <div class="visible-xs">

        <div class="row">
            <div class="col-xs-20 col-xs-offset-2">

                <div class="footer-line">
                    <a href="mailto:hello@viuga.me" class="footer-link">
                        <span ng-include="'assets/images/mouth.svg'" class="footer-icon"></span>hello@viuga.me</a>
            </div>

            <div class="footer-line">
                <span ng-include="'assets/images/ear.svg'" class="footer-icon"></span>+7
                926 726-96-28
            </div>

            <div class="footer-line">
                <span ng-include="'assets/images/address.svg'" class="footer-icon"></span>ул.
                Нижняя Сыромятническая, 10с2
            </div>

        </div>
    </div>

    <div class="row footer-line">

        <div class="col-xs-20 col-xs-offset-2 footer-underline">

            <div class="row">
                <div class="col-xs-12">
                    <a href="https://www.instagram.com/viuga_bureau/" class="footer-link">
                        <span ng-include="'assets/images/instagramm.svg'" class="footer-icon thin"></span>
                    </a>
                    <a href="https://www.facebook.com/viugabureau/" class="footer-link">
                        <span ng-include="'assets/images/facebook.svg'" class="footer-icon thin"></span>
                    </a>
                </div>
                <div class="col-xs-12" style="text-align:right">© Вьюга</div>
            </div>

        </div>
    </div>

    </div>

</footer>
