<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Snowstorm</title>
    <!-- <meta name="description" content="The HTML5 Herald"> -->
    <meta name="author" content="Ulmer-Morozov for Interactopus">
    <link href="assets/app/app.min.css" rel="stylesheet">
    <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'> -->
</head>

<body ng-app="App" ng-controller="AppCtrl">

    <div class="fan"></div>

    <div class="lightSpot"></div>

    <div id="drawingPlot">
        <div ng-repeat="ball in balls" ng-mouseover="startInteraction(ball)" ng-mouseleave="stopInteraction(ball)"
            ng-mousedown="ballMouseDown(ball)" ng-mouseup="ballMouseUp(ball)" ng-mousemove="ballMouseMove(ball, $event)"
            ng-style="{left: ball.cx, top: ball.cy, width: 2*ball.r, height: 2*ball.r, 'margin-left': -ball.r, 'margin-top': - ball.r}"
            ng-class="['ball'+$index]" class="ball" />
        <div ng-repeat="obstacle in obstacles" ng-style="{left: obstacle.cx, top: obstacle.cy, width: 2*obstacle.r, height: 2*obstacle.r, 'margin-left': -obstacle.r, 'margin-top': - obstacle.r}"
            ng-class="['obstacle'+$index]" class="obstacle" />
    </div>

    <!-- скрипты -->
    <script src="assets/libs/jquery/jquery-2.2.2.min.js"></script>
    <script src="assets/libs/angular/angular.js"></script>
    <!-- сервисы -->
    <script src="assets/app/services/Guid.js"></script>
    <!-- функции рисования -->
    <script src="assets/app/drawing/Random.js"></script>
    <script src="assets/app/drawing/Point.js"></script>
    <script src="assets/app/drawing/Vector.js"></script>
    <script src="assets/app/drawing/Ball.js"></script>

    <!-- само приложение -->
    <script src="assets/controllers/AppCtrl.js"></script>
    <script src="assets/app/App.js"></script>
</body>

</html>
