$primary-color: #00b0ec;
$primary-font: 'proxima-nova';

.circle-indicator {
    pointer-events: none;
    background-color: white;
    border: solid $primary-color 4pt;
    top: -40px;
    position: relative;
    text-align: center;
    width: 100%;
    /* z-index: 1000;*/
    /**/
    /* &:after {*/
    /*     width: 100%;*/
    /*     height: 100%;*/
    /*     position: relative;*/
    /*     background-color: red;*/
    /* }*/
    .title {
        text-align: center;
        position: absolute;
        top: 0;
        width: 100%;
        line-height: 20pt;
        z-index: 10;
        font-family: $primary-font;
        color: white;

        &.back {
            z-index: 0;
            color: $primary-color;
        }
    }

    .progress-container {
        position: relative;
        height: 20pt;
        overflow: hidden;

        .progress {
            position: absolute;
            background-color: $primary-color;
            left: 0;
            top: 0;
            width: 50%;
            height: 100%;
            z-index: 1;
        }
    }
}
