$primary-font: Circe;
$primary-color: #00b0ec;
$background-gap: 11.25pt;
$gridPadding: 15px;

@mixin highlight-debug() {
    box-sizing: border-box;
    border: 1pt solid whitesmoke;
}

@mixin highlighted-container() {
    position: absolute;
    display: block;
    content: "";
    background-color: $primary-color;
    top: $background-gap;
    left: 7.5px + $background-gap;
    width: calc(100% - 15px);
    height: 100%;
    z-index: -1;
}

body {
    padding-top: 27pt;
    background-color: white;
}

.menu-container {
    font-family: $primary-font;
    font-size: 11.25pt;
    text-transform: uppercase;
    letter-spacing: 0.75pt;
    color: #1d1d1d;
    margin-top: 31.5pt;
    @include highlight-debug();
}

.menu-item {
    display: inline-block;
}

.menu-item + .menu-item {
    margin-left: 16pt;
}

h1 {
    object-fit: contain;
    font-family: $primary-font;
    font-size: 22.5pt;
    line-height: 1.4;
    letter-spacing: 2.25pt;
    text-align: center;
    color: #1d1d1d;
    padding-top: 75pt;
    padding-bottom: 33.75pt;
    text-transform: uppercase;
}

$author-names-vertical-gap: 33.75pt;
$author-names-horizontal-gap: 59.25pt;
$space-between-rows: 11.25pt;

.author-names {
    background-color: white;
    border: solid 1.5pt $primary-color;
    /*columns: $author-name-width;*/
    padding: $author-names-vertical-gap $author-names-horizontal-gap $author-names-vertical-gap - $space-between-rows;
}

.author-name {
    display: inline-block;
    width: 100%;
    text-align: center;
    break-inside: avoid;
    margin-bottom: $space-between-rows;
    white-space: nowrap;
    @include highlight-debug();
}

.author-names:after {
    @include highlighted-container();
}

$author-name-width: 130pt;
$currentWidth: 3*$author-name-width;
$widthForCount: ('45%', '32.6%','24.4%', '19.5%','13.9%','11.6%');
$lastWidthElement: nth($widthForCount,length($widthForCount));

@each $width in $widthForCount {
    @media (min-width: $currentWidth ) and (max-width: $currentWidth + $author-name-width) {
        .author-name {
            width: unquote($width);
            text-align: left;
        }
    }

    $currentWidth: $currentWidth+$author-name-width;
}

@media (min-width: $currentWidth+1) {
    .author-name {
        width: unquote($lastWidthElement);
        text-align: left;
    }
}

.author-promos {
    /*margin-top: 50pt;*/
}

.author-promo {
    margin-top: 63.75pt;
}

.author-promo-name {
    font-family: $primary-font;
    text-transform: uppercase;
    font-size: 33.75pt;
    line-height: 0.9;
    letter-spacing: 5.25pt;
    color: #1d1d1d;
    margin-bottom: 33.75pt;
}

$promo-content-height: 327pt;
$promo-content-margin: 40pt;

.author-promo-container {
    /*border: 1pt solid red;*/
}

.author-promo-content {
    height: $promo-content-height;
    padding-left: 22.5pt;
    padding-right: 22.5pt;
    padding-bottom: 25.5pt;
    background-color: white;
    border: 2pt solid $primary-color;
}

.author-promo-content:after {
    @include highlighted-container();
}

.author-promo-about-header {
    margin-top: 45pt;
    margin-bottom: 11.25pt;
    font-family: $primary-font;
    text-transform: uppercase;
    font-size: 11.25pt;
    line-height: 1.7;
    letter-spacing: 2.25pt;
    text-align: center;
    color: #231d1f;
}

.author-promo-about {
    margin-bottom: 11.25pt;
}

.author-promo-content a.link {
    display: block;
    font-family: $primary-font;
    font-size: 11.25pt;
    line-height: 1.7;
    text-align: center;
    color: $primary-color;
}

.author-promo-work {
    width: 100%;
    height: $promo-content-height;
    background-size: cover;
    margin-bottom: $promo-content-margin;
}



$screen-md-min: 992px;
$screen-sm-max: 768px;

@media (max-width: $screen-sm-max) {
    /*маленькие экраны, размещаем один за одним*/

    .author-promo-content {
        height: auto;
    }

    .author-promo-work {
        margin-top: 50pt;
        margin-bottom: 0pt;
    }
}

@media (min-width: $screen-md-min) {
    /*скрываем последний элемент на больших экранах*/
    .author-promo-work-container:last-child {
        display: none;
    }
    /*убираем зазор после фотографий*/
    .author-promo-work {
        margin-bottom: 0;
    }
}
