$primary-font: 'Lato';
$news-primary-font: 'Josefin Slab';
$primary-color: #00b0ec;
$gray-color: #1d1d1d;
$background-gap: 11.25pt;
$gridPadding: 7.5px; //размеры экранов
$screen-xs-max: 360pt;
$screen-sm-max: 576pt;
$screen-md-min: 744pt;
@mixin highlight-debug() {
    box-sizing: border-box;
    border: 1pt solid whitesmoke;
}
@mixin highlighted-container() {
    display: block;
    content: "";
    background-color: $primary-color;
    top: $background-gap;
    left: $gridPadding + $background-gap;
    right: -$gridPadding;
    height: 100%;
    position: absolute;
    z-index: -1;
}
body {
    padding-top: 27pt;
    background-color: white;
}
#logo {
    top: 40pt;
    left: 8.33333333%;
    position: absolute;
}
@media (max-width: $screen-xs-max) {
    #logo {
        top: 20pt;
        width: 80pt;
    }
}
footer {
    height: 56.25pt;
    margin-top: 90pt;
    padding-top: 18pt;
    padding-bottom: 18pt;
    color: white;
    background-color: #1d1d1d;
    font-family: $primary-font;
}
.menu-container {
    position: absolute;
    right: 8.33333333%;
    font-family: $primary-font;
    font-size: 11.25pt;
    text-transform: uppercase;
    letter-spacing: 0.75pt;
    color: #1d1d1d;
    margin-top: 31.5pt;
    .menu-item {
        display: inline-block;
    }
    a.menu-item {
        color: $gray-color;
        text-decoration: none;
        border-bottom: 1pt solid;
        border-color: transparent;
        &:hover {
            color: $primary-color;
            border-color: $primary-color;
        }
    }
    .menu-item + .menu-item {
        margin-left: 16pt;
    }
    @media (max-width: $screen-sm-max) {
        right: 8.33333333%;
        .menu-item {
            display: block;
        }
        .menu-item + .menu-item {
            margin-left: 0;
        }
    }
}
h1 {
    object-fit: contain;
    font-family: $primary-font;
    font-size: 22.5pt;
    line-height: 1.4;
    letter-spacing: 2.25pt;
    text-align: center;
    color: #1d1d1d;
    margin-top: 126.75pt;
    padding-bottom: 33.75pt;
    text-transform: uppercase;
}
//формы
input.form-input,
textarea.form-input {
    display: block;
    outline: none;
    width: 100%;
    color: $primary-color;
    background-color: white;
    border: solid 1.5pt $primary-color;
    border-radius: 0;
    padding: 10pt;
    margin-bottom: 30pt;
    font-size: 11.25pt;
    &:focus {
        position: relative;
        top: 2.5pt;
        left: 2.5pt;
    }
}
textarea.form-input {
    resize: none;
    min-height: 150pt;
}
.form-group {
    position: relative;
    button {
        outline: none;
        width: 100%;
        padding: 10pt;
        color: $primary-color;
        background-color: white;
        font-size: 11.25pt;
        border: solid 1.5pt $primary-color;
        &:active {
            position: relative;
            top: 2.5pt;
            left: 2.5pt;
        }
    }
}
.form-group:after {
    @include highlighted-container();
    top: $background-gap/2;
    left: $background-gap/2;
    right: -$background-gap/2;
}
//
//
//
$author-names-vertical-gap: 33.75pt;
$author-names-horizontal-gap: 59.25pt;
$space-between-rows: 11.25pt;
.author-names {
    background-color: white;
    border: solid 1.5pt $primary-color;
    /*columns: $author-name-width;*/
    padding: $author-names-vertical-gap $author-names-horizontal-gap $author-names-vertical-gap - $space-between-rows;
}
.author-name {
    display: inline-block;
    width: 100%;
    text-align: center;
    break-inside: avoid;
    margin-bottom: $space-between-rows;
    white-space: nowrap;
    font-family: $primary-font;
    font-size: 11.25pt;
    @include highlight-debug();
}
a.author-name {
    color: #5b5b5b;
    text-decoration: none;
    &:hover {
        color: $primary-color;
    }
}
.author-names:after {
    @include highlighted-container();
}
$author-name-width: 130pt;
$currentWidth: 3*$author-name-width;
$widthForCount: ('45%', '32.6%','24.4%', '19.5%','13.9%');
$lastWidthElement: nth($widthForCount,length($widthForCount));
@each $width in $widthForCount {
     @media (min-width: $currentWidth ) and (max-width: $currentWidth + $author-name-width){
        .author-name {
            width: unquote($width);
            text-align: left;
        }
    }
    $currentWidth: $currentWidth+$author-name-width;
}
@media (min-width: $currentWidth+1) {
    .author-name {
        width: unquote($lastWidthElement);
        text-align: left;
    }
}
.author-promos {
    /*margin-top: 50pt;*/
}
.author-promo {
    margin-top: 63.75pt;
}
.author-promo-name {
    font-family: $primary-font;
    text-transform: uppercase;
    font-size: 33.75pt;
    line-height: 0.9;
    letter-spacing: 5.25pt;
    color: #1d1d1d;
    margin-bottom: 33.75pt;
}
$promo-content-height: 327pt;
$promo-content-margin: 40pt;
.author-promo-content {
    height: $promo-content-height;
    padding-left: 22.5pt;
    padding-right: 22.5pt;
    padding-bottom: 25.5pt;
    background-color: white;
    font-family: $primary-font;
    border: 2pt solid $primary-color;
}
.author-promo-content:after {
    @include highlighted-container();
}
.author-promo-about-header {
    margin-top: 45pt;
    margin-bottom: 11.25pt;
    text-transform: uppercase;
    font-size: 11.25pt;
    line-height: 1.7;
    letter-spacing: 2.25pt;
    text-align: center;
    color: #231d1f;
}
.author-promo-about {
    margin-bottom: 11.25pt;
}
.author-promo-content a.link {
    display: block;
    font-size: 11.25pt;
    line-height: 1.7;
    text-align: center;
    color: $primary-color;
}
.author-promo-work {
    width: 100%;
    height: $promo-content-height;
    background-size: cover;
    margin-bottom: $promo-content-margin;
}
@media (max-width: $screen-sm-max) {
    /*��������� ������, ��������� ���� �� �����*/
    .author-promo-content {
        height: auto;
    }
    .author-promo-work {
        margin-top: 50pt;
        margin-bottom: 0;
    }
}
@media (min-width: $screen-md-min) {
    // На больших экранах скрываем 3 картинку
    .author-promo-work-container:last-child {
        display: none;
    }
    /*������� ����� ����� ����������*/
    .author-promo-work {
        margin-bottom: 0;
    }
}
// Страница автора
.author-page {
    margin-top: 135pt;
    .author-mascot {
        width: 100%;
        height: 165pt;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    h1 {
        margin-top: 33.75pt;
    }
    .works {
        column-width: 250pt;
        column-gap: 45pt;
        .work {
            break-inside: avoid-column;
            img.work-image {
                width: 100%;
            }
            .work-title {
                margin-top: 22.5pt;
                margin-bottom: 11.25pt;
                font-family: $primary-font;
                font-size: 22.5pt;
                text-align: center;
                color: #1d1d1d;
            }
            .work-description {
                margin-bottom: 34.5pt;
                font-family: $primary-font;
                font-size: 11.25pt;
                line-height: 1.5;
                text-align: center;
                color: #5b5b5b;
            }
        }
    }
}
// Страница о нас
.about-page {
    .about-text {
        margin-bottom: 52.5pt;
        font-family: $primary-font;
        font-size: 22.5pt;
        text-align: center;
        color: #1d1d1d;
    }
    @media (max-width: $screen-xs-max) {
        .about-text {
            font-size: 16pt;
        }
    }
    .contact-form {
        margin-top: 33.75pt;
    }
    .employee {
        text-align: center;
        margin-bottom: 30pt;
        .employee-avatar {
            display: inline-block;
            width: 112.5pt;
            height: 112.5pt;
            margin-bottom: 11.25pt;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
        }
        .employee-description {
            font-family: $primary-font;
            font-size: 11.25pt;
            line-height: 1.7;
            text-align: center;
            color: #5b5b5b;
        }
    }
    h2 {
        font-family: $primary-font;
        text-transform: uppercase;
        font-size: 22.5pt;
        letter-spacing: 2.25pt;
        color: #1d1d1d;
        text-align: center;
    }
}
// Illustrated News page
.illustrated-news-page {
    .news-description {
        margin-bottom: 90pt;
    }
    .news-description,
    .news-description p {
        font-size: 22.5pt;
        font-family: $news-primary-font;
        font-weight: 300;
        line-height: 1.2;
        text-align: center;
    }
    .main-post{
      margin-bottom: 52.5pt;
    }
    @media (max-width: 600pt) {
        // скрываем на маленьких экранах главный пост
        .main-post {
            display: none;
        }
    }
    @media (min-width: 600pt) {
        // скрываем на больших экранах первый пост
        .post:first-child {
            display: none;
        }
    }
    img.main-post-cover,
    img.post-image {
        width: 100%;
    }
    .post-date {
        margin-top: 22.5pt;
        margin-bottom: 11.25pt;
        font-family: $news-primary-font;
        font-size: 22.5pt;
    }
    .post-author,
    .post-title {
        font-family: $news-primary-font;
        font-size: 11.25pt;
        color: #1d1d1d;
    }
    .posts {
        column-width: 200pt;
        column-gap: 45pt;
        .post {
            break-inside: avoid-column;
            margin-bottom: 33.75pt;
        }
    }
}
