<h1>Авторы</h1>
<div class="row">
    <div class="col-xs-20 col-xs-offset-2">
        <div class="author-names">
            <a href="#/Author/{{author.id}}" ng-repeat="author in authors" class="author-name">{{author.name.last}} {{author.name.first}}</a>
        </div>
    </div>
</div>

<div class="author-promos">

    <div ng-repeat="author in authors | limitTo: 20" class="author-promo">
        <!-- Big Name -->
        <div class="row">
            <div class="author-promo-name col-xs-20 col-xs-offset-2">{{author.name.last}} {{author.name.first}}</div>
        </div>

        <div class="row">
            <div class="col-md-offset-1 col-sm-offset-0 col-xs-offset-0  col-xs-24">

                <div class="row" shuffle-elements>
                    <!-- About -->
                    <div class="col-md-6 col-md-offset-1
                col-sm-9 col-sm-offset-2
                col-xs-20 col-xs-offset-2 author-promo-container">
                        <div class="author-promo-content">
                            <div class="author-promo-about-header">Об авторе</div>
                            <div class="author-promo-about">{{author.about}}</div>
                            <a href="#/Author/{{author.id}}" class="link">Все работы</a>
                        </div>
                    </div>

                    <!-- Promo Images -->
                    <div ng-repeat="imageUrl in author.promoImages" ng-click="showPromo(author, $index)"
                        class="col-md-6 col-md-offset-1
                        col-sm-9 col-sm-offset-2
                        col-xs-20 col-xs-offset-2
                        author-promo-work-container">
                        <div class="author-promo-work" style="background-image: url({{imageUrl}})"></div>
                    </div>
                </div>

            </div>
        </div>


    </div>

</div>

<image-preview current-index="currentWorkIndex" source="authorWorks" converter="converter"></image-preview>
