<div class="author-page">
    <div class="author-mascot" style="background-image: url({{author.mascotUrl}})"></div>
    <h1>{{author.name.last}} {{author.name.first}}</h1>

    <div class="row">
        <div class="col-xs-20 col-xs-offset-2">
            <!-- Работы -->
            <div class="works">
                <!-- Работа -->
                <div ng-repeat="work in author.works" class="work">
                    <img ng-src="{{work.url}}" class="work-image">
                    <div class="work-title">{{work.title}}</div>
                    <div class="work-description">{{work.description}}</div>
                </div>
            </div>

        </div>
    </div>
</div>
