<div class="illustrated-news-page">
    <h1>Illustrated News</h1>

    <div class="row">
        <div class="col-sm-16 col-sm-offset-4 col-xs-20 col-xs-offset-2">
            <!-- Описание топика -->
            <div class="news-description">
                <p>
                    Bringing unlocked me an striking ye perceive. Mr by wound hours oh happy. Me in resolution
                    pianoforte continuing we. Most my no spot felt by no. He he in
                    forfeited furniture sweetness he arranging. Me tedious so to
                    behaved written account ferrars moments. Too objection for elsewhere
                    her preferred allowance her. Marianne shutters mr steepest to
                    me.
                </p>
            </div>
            <!-- Конец описания -->
        </div>
    </div>

    <div class="main-post row">
        <div class="col-xs-8 col-xs-offset-2">
            <img ng-src="{{mainPost.cover}}" alt="{{mainPost.cover}}" class="main-post-cover"
            />
        </div>
        <div class="col-xs-12 col-xs-offset-1">
            <div class="post-date">{{mainPost.releaseDate | date: 'MM.dd.yyyy'}}</div>
            <div class="post-title">{{mainPost.title}}</div>
            <div class="post-author">{{mainPost.author}}</div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-20 col-xs-offset-2">
            <!-- Новости -->
            <div class="posts">
                <!-- Новость -->
                <div ng-repeat="post in posts" ng-click="selectPost($index)" class="post">
                    <img ng-src="{{post.cover}}" class="post-image">
                    <div class="post-date">{{post.releaseDate | date: 'MM.dd.yyyy'}}</div>
                    <div class="post-title">{{post.title}}</div>
                    <div class="post-author">{{post.author}}</div>
                </div>
            </div>

        </div>
    </div>

    <image-preview current-index="currentPostIndex" source="posts" converter="converter"></image-preview>
</div>
