@mixin box-sizing($box-model) {
    -webkit-box-sizing: $box-model; // Safari <= 5
    -moz-box-sizing: $box-model; // Firefox <= 19
    box-sizing: $box-model;
}
@mixin flexbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}
body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
svg#drawingPlot {
    position: fixed;
    width: 100%;
    height: 100%;
}
@keyframes play {
    from {
        background-position: 5px;
    }
    to {
        background-position: -2875px;
    }
}
.obstacle {
    position: fixed;
    background-color: blue;
    border-radius: 50%;
}
.ball {
    position: fixed;
    background-color: red;
    border-radius: 50%;
}
.ball.ball0 {
    border-radius: 0;
    background-color: transparent;;
    background-image: url("../images/mascots/pinkbird_120_120.png");
    animation: play 0.8s steps(24) infinite;
}
