@mixin box-sizing($box-model) {
    -webkit-box-sizing: $box-model; // Safari <= 5
    -moz-box-sizing: $box-model; // Firefox <= 19
    box-sizing: $box-model;
}
@mixin flexbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}
body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
svg#drawingPlot {
    position: fixed;
    width: 100%;
    height: 100%;
}
